*{
    margin: 0;
    padding: 0;
}

.logo{
    width :20%;
    display : flex;
    justify-content: center;
    align-items: center; 
}
.logo img{
    width: 33%;
    border : 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    background-color: black;   
}
.nav-list{
      display: flex;
    align-items: center;
}

.nav-list li{ 
    list-style: none;
    padding: 26px 30px;
    color : white;  
}
.nav list li a{  
    color: white;
}

.nav list li a:hover{
  color: grey
}

.btn{

}